<div
  class="col-sm-12 col-md-6 col-lg-4 p-2 filtr-item"
  data-category='all, {{ delimit  .Params.tags ","}}'
>
  <div class="card mt-1">
    <div class="card">
      <a class="card-header" href="#">
        <div>
          <div class="d-flex">
            {{ if .Params.title }}
            <img class="card-img-xs" src="{{ .Params.title | relURL }}" alt="{{ .name }}" />
            {{ end }}
            <h5 class="card-title mb-0">{{ .name }}</h5>
          </div>
          <div class="sub-title">
            <span>{{ .Params.authors }}</span>
            <span>{{ .Params.timeline }}</span>
          </div>
        </div>
      </a>
      <div class="card-body text-justify pt-1 pb-1">
        <p>{{ .Params.summary | markdownify }}</p>
        <span class="float-right">
          <a
            class="btn btn-outline-info btn-sm mb-2"
            href="{{ .Params.url }}"
            target="#"
            >Link</a
          >
        </span>
      </div>
    </div>
  </div>
</div>
