{{ define "body_classes" }}page-team-list{{ end }}

{{ define "main" }}
<section class="feature-list section">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img
          class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
  </div>

  <div class="container">
    <h2>Meet the Professors</h2>
    <div class="row pt-6 pb-6">
      
      <div class="col-12 col-md-6 mb-2">

      {{ range where .Pages.ByWeight ".Params.professor" true }}
      <div class="team team-summary team-summary-large">
        {{ if .Params.image }}
        <div class="team-image">
          <img alt="Photo of {{ .Title }}" class="img-fluid mb-2" src="{{ .Params.image | relURL }}" />
        </div>
        {{ end }}
        <div class="team-meta">
      
          <h2 class="team-name"><a href="{{.Permalink}}" class="link-title">{{.Title | markdownify}}</a></h2>
          <p class="team-description">{{ .Params.Jobtitle }}</p>
          {{ if .Params.Linkedinurl }}
          <a target="_blank" href="{{ .Params.Linkedinurl }}">LinkedIn</a> {{ end }}
          {{ if .Params.Googlescholars }}
          <a target="_blank" href="https://twitter.com/{{ .Params.Googlescholars }}">Google Scholars</a> {{ end }}
      
        </div>
        <div class="team-content">    
          <a href="{{ .Permalink }}" class="btn btn-main btn-main-sm">{{ i18n "read_more" }}</a>
        </div>
      {{ end }}
      
      </div>
    </div>
  </div>


  <div class="container">
    <h2>The Staff</h2>
    <div class="row  pt-6 pb-6">
      {{ range where .Pages.ByWeight ".Params.staff" true}}
      <div class="col-12 col-md-4 mb-3">{{ .Render "summary" }}</div>
      {{ end }}
    </div>
  </div>

  
  <div class="container">
    <h2>Students</h2>
    <div class="row  pt-6 pb-6">
      {{ range where .Pages.ByWeight ".Params.student" true}}
      <div class="col-12 col-md-4 mb-3">{{ .Render "summary" }}</div>
      {{ end }}
    </div>
  </div>
</section>


{{ end }}