{{ define "main" }}

<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1>{{.Title}}</h1>
      </div>
    </div>
    {{ range $index, $element := (where .Site.RegularPages "Section" "opportunities") }}
    <div class="row mb-40">
      <div class="col-md-12 text-center mb-10 mb-lg-0">
        <img class="img-fluid" src="{{ .Params.image | absURL }}" alt="">
      </div>
      <div class="col-md-12 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading"><a class="link-title" href="{{.Permalink}}">{{ .Title | markdownify }}</a></h4>
          <div class="content">
            {{.Content}}
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}