{{ define "main" }}

<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1>{{.Title}}</h1>
      </div>
    </div>
    {{ range $index, $element := (where .Site.RegularPages "Section" "publications") }}
    <div class="container filtr-projects">
      <div class="row" id="project-card-holder">
        {{ range .projects }}
          {{ partial "cards/project" . }}
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}