{{ define "main" }}

<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1>{{.Title}}</h1>
      </div>
    </div>
    {{ range $index, $element := (where .Site.RegularPages "Section" "publications") }}
    <div class="row mb-40">
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <div class="row" id="project-card-holder">
              {{ partial "cards/project" . }}
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}